.editForm{
    margin-left: 20%;
    margin-right: 20%;
}
.articleForm{
    margin-top: 20px;
    border: 4px solid #1E90FF;
    padding: 20px;
    background-color: #B0E0E6;
    margin-left: 20%;
    margin-right: 20%;
}

.helpButton{
    margin : 5px;
}

.helpBtnGroup{
    padding-left: 70%;
}
div {
    font-family: Arial, sans-serif;
}

article {
    white-space : pre-line;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

article h2{
}

article div{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

article div p {
    margin-left: 60%;
    color: #4682B4;
    font-style: italic;
}